NEXT_PUBLIC_SUPABASE_URL=https://erdklcxttfoevkdhzatp.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_HX0Xh1qvKy6D5A8pmMciQw_3xERg29H
FOOTBALL_API_KEY=yfde65f5cfad8421399d767ca2cec0b81
ENVIRONMENT=development